
@{
    ViewData["Title"] = "Brownie";
}

<div class="container">
    <div class="row">
        <div class="border rounded text-center divblocknavpink">
            <a asp-controller="UserProduct" asp-action="Index" class="rounded zoompink text-center atagnav">
                Taart
            </a>
        </div>
        <div class="divblocknavpink col border rounded text-center">
            <a asp-controller="UserProduct" asp-action="CupCake" class="rounded zoompink text-center atagnav">Cupcake</a>
        </div>
        <div class="divblocknavpink col border rounded text-center">
            <a asp-controller="UserProduct" asp-action="Cake" class="rounded zoompink text-center atagnav">Cake</a>
        </div>
        <div class="divblocknavpink col border rounded text-center">
            <a asp-controller="UserProduct" asp-action="Brownie" class="rounded zoompink text-center atagnav">Brownie</a>
        </div>
    </div>
</div>
