@model BakeryHouse.ViewModels.TaartViewModel;
@{
    ViewData["Title"] = "Userproduct-Taart";
}

    <div class="container">
        <div class="row">
            <div class=" rounded text-center divblocknavpink">
                <a asp-controller="UserProduct" asp-action="Index" class="rounded zoompink text-center atagnav">
                    Taart
                </a>
            </div>
            <div class="divblocknavpink col  rounded text-center">
                <a asp-controller="UserProduct" asp-action="CupCake" class="rounded zoompink text-center atagnav">Cupcake</a>
            </div>
            <div class="divblocknavpink col  rounded text-center">
                <a asp-controller="UserProduct" asp-action="Cake" class="rounded zoompink text-center atagnav">Cake</a>
            </div>
            <div class="divblocknavpink col  rounded text-center">
                <a asp-controller="UserProduct" asp-action="Brownie" class="rounded zoompink text-center atagnav">Brownie</a>
            </div>
        </div>
        <section class="row">
            <h1>Taarten</h1>
        </section>
        @foreach (var product in Model.Taarten)
        {
        <section class="row productbordertop">
            <img src="~/Images/@product.Image" alt="~/Images/Appeltaart.jpg" class="rounded float-left col col-3" />
            <div class="float-left col col-9">
                <h2 class="producth2">@product.Naam</h2>
                <h3 class="producth3">Allergenen</h3>
                @foreach (var productregel in product.Productregels)
                {
                    <img src="~/Images/Ingrediënten/@productregel.Ingredient.Soort.ToLower()" />
                }
                <h3 class="producth3 mt-2">Prijs: € @product.Prijs</h3>
            <form asp-controller="Cart" asp-action="buy" method="get">
                <input id="id" name="id" type="hidden" value="@product.ProductId">
                <label for="Aantal">Aantal</label>
                <input type="number" min="1" max="1000" value="1" id="Aantal" name="Aantal" class="rounded" />
                <button class="buttonadd" type="submit">ADD</button>
            </form>
            </div>
        </section>
        }

    </div>
    
        
