@using Microsoft.AspNetCore.Identity
@using BakeryHouse.Areas.Identity.Data

@inject SignInManager<CustomUser> SignInManager
@inject UserManager<CustomUser> UserManager

    <li class="nav-item dropdown m-2">
        <a class="nav-link dropdown-toggle text-dark pl-0 d-inline-block" href="#" id="userMenu" role="button" aria-haspopup="true" data-toggle="dropdown">
            <i class="fa fa-user"></i>@if (SignInManager.IsSignedIn(User))
            {@((await UserManager.GetUserAsync(User)).Klant.Voornaam)}
        </a>
        <div class="dropdown-menu dropdown-menu-md-right dropdown-default navbar-dropdown-menu" aria-labelledby="userMenu">
            @if (SignInManager.IsSignedIn(User))
            {


                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    Mijn Account
                </a>

                <div class="nav-link text-center">
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="btn btn-secondary mx-4 px-4">Logout</button>
                    </form>
                </div>
            }
            else
            {
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
            }
        </div>
    </li>