@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<div class="alert alert-danger">
    <h3>ExceptionPath Fout:</h3>
    <p>@ViewBag.ExceptionPath</p>

</div>
<div class="alert alert-danger">
    <h3>ExceptionMessage fout:</h3>
    @ViewBag.ExceptionMessage
</div>
<div class="alert alert-danger">
    <h3>ExceptionStacktrace fout:</h3>
    @ViewBag.Stacktrace
</div>
 
