@{
    ViewData["Title"] = "Admin - Crudpaginas";
}

    <ul class="nav nav-pills flex-column mt-5">
        <li class="nav-item"><a asp-controller="Product" asp-action="Index" class="nav-link border my-2">Crud Product</a></li>
        <li class="nav-item"><a asp-controller="Afhaalpunt" asp-action="Index" class="nav-link border my-2"> Crud Afhaalpunt</a></li>
        <li class="nav-item"><a asp-controller="Ingredient" asp-action="Index" class="nav-link border my-2">Crud Ingrediënt</a></li>
    </ul>
 
