@{
    ViewData["Title"] = "Home Page";
}

<section class="container ml-4">
    <div class="row">
        <div class="border rounded text-center divblocknav"
             style="background-image: url('images/appeltaart.jpg');">
            <a asp-controller="UserProduct" asp-action="Index" class="rounded zoom text-center atagnav">
                Taart
            </a>
        </div>
        <div class="divblocknav col border rounded text-center"
             style="background-image: url('images/cupcake.jpg');">
            <a asp-controller="UserProduct" asp-action="CupCake" class="rounded zoom text-center atagnav">Cupcake</a>
        </div>
        <div class="divblocknav col border rounded text-center"
             style="background-image: url('images/chocolatecake.jpg');">
            <a asp-controller="UserProduct" asp-action="Cake" class="rounded zoom text-center atagnav">Cake</a>
        </div>
        <div class="divblocknav col border rounded text-center"
             style="background-image: url('images/brownies.jpg');">
            <a asp-controller="UserProduct" asp-action="Brownie" class="rounded zoom text-center atagnav">Brownie</a>
        </div>
    </div>
</section>
<section class="container text-center">
        <h1 class="h1 py-2 rounded" style="background-color:lightpink">Geniet van onze heerlijke producten!</h1>
</section>
<section class="col col-12"><a class="btn btn-primary">List Orders</a></section>